In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [ ]:
# Run these once ... Just in case 
#!pip install nose 
#!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [ ]:
def sieve(num):
    prime=()
    no_prime=()
    for i in range(2,num+1):
        count=0
        for j in range(i,0,-1):
            if i%j==0:
                count=count+1
        if count==2:
            prime=prime+(i,)
        else:
            no_prime=no_prime+(i,)
    return tuple((prime,no_prime))    
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

In [ ]:
grader.check("q1")

q1 results: All test cases passed!

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [ ]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket‚Äôs first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage‚Äôs five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the ‚Äú* 10 ^‚Äù with ‚ÄòE‚Äô -/capital e\-. So our numbers would look like:s"
dictionary = {}
for char in paragraph:

    if char in dictionary:
        dictionary[char] += 1
    else:
        dictionary[char] = 1


print(dictionary)

{'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '‚Äô': 3, '0': 22, ',': 7, '(': 3, ')': 3, 'q': 3, 'A': 2, 'v': 4, 'F': 1, '-': 4, '{': 2, '}': 2, 'O': 3, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 2, '*': 4, '^': 4, '‚Äú': 1, '‚Äù': 1, '‚Äò': 1, 'E': 1, '/': 1, '\\': 1}

In [ ]:
grader.check("q2")

q2 results: All test cases passed!

**Question 3:** Extract the values from the dictionary above into a list

In [ ]:
keysList=list(dictionary.keys())
print (keysList)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\']

In [ ]:
grader.check("q3")

q3 results: All test cases passed!

**Question 4:** Extract the keys from the dictionary above into a list

In [ ]:
valuesList=list(dictionary.values())
print (valuesList)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

In [ ]:
grader.check("q4")

q4 results: All test cases passed!

**Question 5:** Merge the two lists into a tuple

In [ ]:
final_tuple=tuple(list((tuple(keysList),tuple(valuesList))))
print(final_tuple)

(('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))

In [ ]:
grader.check("q5")

q5 results: All test cases passed!

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [ ]:
def greatest_common_divisor(a, b):
    if(b == 0):
        return a
    else:
        return greatest_common_divisor(b, a % b)

In [ ]:
grader.check("q6")

q6 results: All test cases passed!

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of interest.

In [ ]:
def get_nearest_farthest(pt, ptlist):
    dist_list=[]
    for a in ptlist:
        d=np.sqrt((pt[0]-a[0])**2+(pt[1]-a[1])**2)
        dist_list.append(d)
    mn=np.argmin(dist_list)
    mx=np.argmax(dist_list)
    return ptlist[mn],ptlist[mx]

In [ ]:
get_nearest_farthest((3, 8), [(9, 3), (8,5), (7,6)])

((7, 6), (9, 3))

In [ ]:
grader.check("q7")

q7 results: All test cases passed!

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [ ]:
def perfectly_divisible(N, q):
    numbers=[]
    for i in range(0,N+1):
        if i%q==0:
            numbers.append(i)
    return numbers

In [ ]:
grader.check("q8")

q8 results: All test cases passed!

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [ ]:
flatten_lists([[2,13,44], [6,7]])

[2, 6, 7, 13, 44]

In [ ]:
def flatten_lists(superlist):
    s=superlist[0]
    for i in range(1,len(superlist)):
        s=s+superlist[i]
    return sorted(s)

In [ ]:
grader.check("q9")

q9 results: All test cases passed!

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [ ]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv('Nakuru_Sensor_Data_Feb_2023.csv',delimiter=';',usecols=['timestamp','value_type','value'])

print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

[42990 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42990 entries, 0 to 42989
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   42990 non-null  datetime64[ns, UTC]
 1   value_type  42990 non-null  object
 2   value       42990 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1), object(1)
memory usage: 1007.7+ KB

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [ ]:
df[["timestamp"]] = df[["timestamp"]].apply(pd.to_datetime)
df['timestamp_new']=df.timestamp.dt.round('1s')

print(df)

                             timestamp   value_type  value  \
0     2023-02-04 04:22:51.323124+00:00     humidity    100
1     2023-02-04 04:22:51.323124+00:00  temperature     12
2     2023-02-04 04:22:51.323125+00:00           P2     27
3     2023-02-04 04:22:51.323125+00:00           P1     59
4     2023-02-04 04:25:32.354784+00:00     humidity    100
...                                ...          ...    ...
42985 2023-02-24 07:51:55.687329+00:00  temperature     27
42986 2023-02-24 07:54:35.530536+00:00     humidity     59
42987 2023-02-24 07:54:35.530536+00:00  temperature     27
42988 2023-02-24 07:54:35.530545+00:00           P2      0
42989 2023-02-24 07:54:35.530545+00:00           P1      0

                  timestamp_new
0     2023-02-04 04:22:51+00:00
1     2023-02-04 04:22:51+00:00
2     2023-02-04 04:22:51+00:00
3     2023-02-04 04:22:51+00:00
4     2023-02-04 04:25:32+00:00
...                         ...
42985 2023-02-24 07:51:56+00:00
42986 2023-02-24 07:54:36+00:00
42987 2023-02-24 07:54:36+00:00
42988 2023-02-24 07:54:36+00:00
42989 2023-02-24 07:54:36+00:00

[42990 rows x 4 columns]

**Question E2:** Split the dataframe based on the 'value_type' column

In [ ]:
grouped = df.groupby('value_type')
df_temperature =list(grouped)[3][1]
df_humidity = list(grouped)[2][1]
df_P1 = list(grouped)[0][1]
df_P2 = list(grouped)[1][1]

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [ ]:
mu_temp = df_temperature['value'].mean()
med_temp = df_temperature['value'].median()
sd_temp = df_temperature['value'].std()
print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

mu_humidity = df_humidity['value'].mean()
med_humidity = df_humidity['value'].median()
sd_humidity = df_humidity['value'].std()
print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

mu_P1 = df_P1['value'].mean()
med_P1 = df_P1['value'].median()
sd_P1 = df_P1['value'].std()
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

mu_P2 = df_P2['value'].mean()
med_P2 = df_P2['value'].median()
sd_P2 = df_P2['value'].std()
print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

Temperature
Mean =  22.35287548855388 Median =  22.0 Standard Deviation =  7.218686624924859
Humidity
Mean =  64.31109249953471 Median =  61.0 Standard Deviation =  22.407697062564335
P1
Mean =  28.508605451669922 Median =  20.0 Standard Deviation =  33.69146836187376
P2
Mean =  11.30142338822216 Median =  8.0 Standard Deviation =  11.865466667566917

In [ ]:
df_temperature.rename(columns={'value':'value_temperature'},inplace=True)
df_humidity.rename(columns={'value':'value_humidity'},inplace=True)
df_P1.rename(columns={'value':'value_P1'},inplace=True)
df_P2.rename(columns={'value':'value_P2'},inplace=True)

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [ ]:
a=pd.merge(df_temperature,df_humidity,how='outer')
b=pd.merge(df_P1,df_P2,how='outer')
df_merged=pd.merge(a,b,how='outer')

print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

                             timestamp   value_type  value_temperature  \
0     2023-02-04 04:22:51.323124+00:00  temperature               12.0
1     2023-02-04 04:25:32.354784+00:00  temperature               11.0
2     2023-02-04 04:28:12.716734+00:00  temperature               12.0
3     2023-02-04 04:30:52.437513+00:00  temperature               12.0
4     2023-02-04 04:33:32.677578+00:00  temperature               12.0
...                                ...          ...                ...
42985 2023-02-24 07:43:55.409324+00:00           P2                NaN
42986 2023-02-24 07:46:35.195110+00:00           P2                NaN
42987 2023-02-24 07:49:15.757782+00:00           P2                NaN
42988 2023-02-24 07:51:55.687147+00:00           P2                NaN
42989 2023-02-24 07:54:35.530545+00:00           P2                NaN

                  timestamp_new  value_humidity  value_P1  value_P2
0     2023-02-04 04:22:51+00:00             NaN       NaN       NaN
1     2023-02-04 04:25:32+00:00             NaN       NaN       NaN
2     2023-02-04 04:28:13+00:00             NaN       NaN       NaN
3     2023-02-04 04:30:52+00:00             NaN       NaN       NaN
4     2023-02-04 04:33:33+00:00             NaN       NaN       NaN
...                         ...             ...       ...       ...
42985 2023-02-24 07:43:55+00:00             NaN       NaN       0.0
42986 2023-02-24 07:46:35+00:00             NaN       NaN       7.0
42987 2023-02-24 07:49:16+00:00             NaN       NaN       1.0
42988 2023-02-24 07:51:56+00:00             NaN       NaN       0.0
42989 2023-02-24 07:54:36+00:00             NaN       NaN       0.0

[42990 rows x 7 columns]

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [ ]:
new_df = pd.read_csv('newdata.csv',delimiter=',',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
new_df

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12.0,2023-02-04 04:22:51+00:00,NaN,NaN,NaN
1,11.0,2023-02-04 04:25:32+00:00,NaN,NaN,NaN
2,12.0,2023-02-04 04:28:13+00:00,NaN,NaN,NaN
3,12.0,2023-02-04 04:30:52+00:00,NaN,NaN,NaN
4,12.0,2023-02-04 04:33:33+00:00,NaN,NaN,NaN
...,...,...,...,...,...
42985,NaN,2023-02-24 07:43:55+00:00,NaN,NaN,0.0
42986,NaN,2023-02-24 07:46:35+00:00,NaN,NaN,7.0
42987,NaN,2023-02-24 07:49:16+00:00,NaN,NaN,1.0
42988,NaN,2023-02-24 07:51:56+00:00,NaN,NaN,0.0
42989,NaN,2023-02-24 07:54:36+00:00,NaN,NaN,0.0

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [ ]:
#Check for missing values 
missing_values = new_df.isna()

# displaying data only with NaN
new_df[missing_values]

       value_temperature timestamp_new  value_humidity  value_P1  value_P2
0                    NaN           NaN             NaN       NaN       NaN
1                    NaN           NaN             NaN       NaN       NaN
2                    NaN           NaN             NaN       NaN       NaN
3                    NaN           NaN             NaN       NaN       NaN
4                    NaN           NaN             NaN       NaN       NaN
...                  ...           ...             ...       ...       ...
42985                NaN           NaN             NaN       NaN       NaN
42986                NaN           NaN             NaN       NaN       NaN
42987                NaN           NaN             NaN       NaN       NaN
42988                NaN           NaN             NaN       NaN       NaN
42989                NaN           NaN             NaN       NaN       NaN

[42990 rows x 5 columns]

In [ ]:
missing_values

       value_temperature  timestamp_new  value_humidity  value_P1  value_P2
0                  False          False            True      True      True
1                  False          False            True      True      True
2                  False          False            True      True      True
3                  False          False            True      True      True
4                  False          False            True      True      True
...                  ...            ...             ...       ...       ...
42985               True          False            True      True     False
42986               True          False            True      True     False
42987               True          False            True      True     False
42988               True          False            True      True     False
42989               True          False            True      True     False

[42990 rows x 5 columns]

In [ ]:
print("The mean of P1",new_df['value_P2'].mean())
print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
new_df['value_P1'].fillna(new_df['value_P1'].mean(),inplace=True)
new_df['value_P2'].fillna(new_df['value_P2'].mean(),inplace=True)
new_df['value_temperature'].fillna(new_df['value_temperature'].mean(),inplace=True)
new_df['value_humidity'].fillna(new_df['value_humidity'].mean(),inplace=True)


new_df

The mean of P1 11.301423388224533
The mean of P2 28.508605451654844

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12.000000,2023-02-04 04:22:51+00:00,64.311092,28.508605,11.301423
1,11.000000,2023-02-04 04:25:32+00:00,64.311092,28.508605,11.301423
2,12.000000,2023-02-04 04:28:13+00:00,64.311092,28.508605,11.301423
3,12.000000,2023-02-04 04:30:52+00:00,64.311092,28.508605,11.301423
4,12.000000,2023-02-04 04:33:33+00:00,64.311092,28.508605,11.301423
...,...,...,...,...,...
42985,22.352875,2023-02-24 07:43:55+00:00,64.311092,28.508605,0.000000
42986,22.352875,2023-02-24 07:46:35+00:00,64.311092,28.508605,7.000000
42987,22.352875,2023-02-24 07:49:16+00:00,64.311092,28.508605,1.000000
42988,22.352875,2023-02-24 07:51:56+00:00,64.311092,28.508605,0.000000
42989,22.352875,2023-02-24 07:54:36+00:00,64.311092,28.508605,0.000000

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [ ]:
corr_temp_hum=new_df[['value_temperature','value_humidity']].corr().iloc[1,0:1]
corr_temp_hum

value_temperature   -6.043110e-18
Name: value_humidity, dtype: float64

In [ ]:
new_df[['value_temperature','value_humidity']]

array([-6.04310996e-18])

In [ ]:
#Correlation between temperature and humidity
corr_temp_hum=new_df[['value_temperature','value_humidity']].corr().values[1,0:1]

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
corr_p1_p2=new_df[['value_P1','value_P2']].corr().values[1,0:1]

print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between temparature and humidity [-6.04310996e-18]
Correlation between P1 and P2 [-4.72547053e-19]